


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}



#header {
	margin: none;
	background: white url(http://gowalla.com/images/rainbow.gif) repeat-x -500% 0px;
	
}

.left {
	text-align: left;
}

#header h1 a {
background-image:url("/images/logo-sm-sprite.png");
background-position:0 0;
background-repeat:no-repeat;
display:block;
height:50px;
overflow:hidden;
text-indent:200px;
white-space:nowrap;
width:104px;
}

#header h1 {position:relative;
	}
	
	
#header {
	width: 100%;
	
}

#header h1 span {
	position:absolute;
	left: 100px;
	bottom:15px;
	font-size: 15px;
}

#header h1 a:hover,
#header h1 a:focus {
	background-position: 0 -50px;
}

html, body, #header, h1, h3, #notice, hr {
	margin: 0 0 0 0 ;
	padding: 0 0 0 0;
}

html {
	background: url("/images/texture.gif") repeat scroll left top #F3F3F3;
	
}

#content {
	background-color:white;
	width: 400px;
	margin: 0 auto 0;
	text-align:center;
}#selector {
	background: url('../images/next.png') no-repeat scroll top left;
	width: 90px;
	height: 90px;
}

img {
	border: none;
}

#header {margin: 0 auto 0;}


#title {margin: 0 25% 0 ;}